    {{#each story}}
    {{#unless saved}}
    <div class="card col-md-6" style="padding-bottom: 15px; padding-top: 15px; text-align: center;">
        <img class="card-img-top" src="{{this.image}}">
          <div class="card-block">
          <p style="font-size: 15px" class="card-title" ><a href="{{this.link}}">{{this.title}}</a></p>
        <a href="/" data-status="{{this.saved}}" data-id="{{this._id}}" class="btn btn-primary saveArticle">Save this Article</a>
        </div>
    </div>
    {{/unless}}
    {{/each}}
