<h1 style="text-align: center; margin-bottom: 50px">Saved Articles</h1>

    {{#each story}}
    {{#if saved}}

        <div class="card col-md-6" style="padding: 30px; text-align: center">

            <img class="card-img-top" src="{{this.image}}">
              <div class="card-block">
              <p style="font-size: 15px" class="card-title"><a href="{{this.link}}">{{this.title}}</a></p>

            <a data-status="{{this.saved}}" data-id="{{this._id}}" class="btn btn-primary takeNotes">Comment</a>

            <a href="/saved" data-status="{{this.saved}}" data-id="{{this._id}}" class="btn btn-primary removeFavorite">Unsave this Article</a>
            </div>

            <div class="card col-md-6 notesSection" style="display: none" id="{{this._id}}">
              <h4>Comments</h4>

              <input type="text" id="newNote_{{this._id}}" style="margin-left: 65px; margin-bottom: 10px"/>


              <a href="/saved" data-status="{{this.saved}}" data-id="{{this._id}}" class="btn btn-primary saveNotes" style="margin-left: 30px">Save Comments</a>
            </div>

        </div>

    {{/if}}
    {{/each}}

